.nav {
  display: flex;
  flex-direction: row;
  /* justify-content:space-between; */
  width: 100%;
  /* margin-left: 10px;
  margin-right: 10px; */
}
.jump {
  flex: 1;
  margin-left: 10px;
  padding-top: 10px;
}
.jump a {
  margin-right: 10px;
  font-weight: bold;
}
a {
  text-decoration: none;
  color: black;
}

.socialmedia-nav {
  text-align: right;
  flex: 1;
  padding-top: 10px;
  /* padding-right: 0; */
  margin-right: 10px;
}


.link-item-nav:last-child {
  margin-right: 0;
}

.homepage {
  flex: 1;
  text-align: center;
}
.homepage a {
  font-family: "Amatic SC", cursive;
  font-size: 3em;
}