.wordsAtCenter {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.wordsAtCenter h1 {
  /* color: white; */
  font-size: 5em;
  letter-spacing: 12px;
  margin-right: -30px;
  font-family: "Amatic SC", cursive;
  text-align: center;
  line-height: 1em;
}
.index-footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
  overflow: hidden;
}
.item-footer {
  
  text-align: center;
}
.mainpagelink {
  display: flex;
  align-items: center;
  justify-content: center;
}
.link-item-main:last-child{
  margin-right: 5px;
}
.mainpagelink a {
  /* border: 1px solid black; */
  font-weight: bold;
  color: black;
  flex: 1;
  margin: 10px;
  text-align: center;
  text-decoration: none;
}
.mainpagelink a:hover {
  color: gray;
}

body{
	height: 100vh;

	margin: 0px;
}
#backgroundImage{
	/* background-color: aqua; */
	min-height: 100%;
	min-width: 100%;
	opacity: 0.7;
	/* background-image: url("../images/img2.jpg"); */
	background-position: center center;
	background-size: cover;
	background-repeat: no-repeat;
}

@import "_partial/socialmedia.styl"
@import "_partial/nav.styl"
@import "_page/archive.styl"
@import "_page/post.styl"