language: node_js
before_script:
  - npm install -g gatsby-cli
node_js:
  - "10"
script: 
  - npm install
  - npm run clean
  - npm run deploy
deploy:
  provider: pages
  # Note: change "docs" to the directory where your gatsby-site lives, if necessary
  skip_cleanup: true
  github-token: $GH_TOKEN
  local-dir: public
  repo: lixuetaoleo/lixuetaoleo.github.io
  on:
    branch: gatsby
  target_branch: master
