<!DOCTYPE html>
<html>
<%- partial('_partial/head') %>

<body>
	<div id="backgroundImage"></div>
	<div class="wordsAtCenter">
		<h1>LI XUETAO</h1>
		<nav>
			<!-- <div class="linkinnav"> -->
			<a href="./archives/index.html" title="articles">BLOG</a>
			<a href="./about/index.html" title="about me">ABOUT</a>
			<a href="./contact/index.html" title="contact me">CONTACT</a>
			<!-- </div> -->

		</nav>
	</div>

	<div class="socialmedia">
		<a class="link-item" title="Twitter" href="https://twitter.com/lixuetaoleo">
			<i class="iconfont icon-twitter"></i>
		</a>
		<a class="link-item" title="Instagram" href="https://www.instagram.com/lixuetaoleo/">
			<i class="iconfont icon-instagram"></i>
		</a>
		<a class="link-item" title="Weibo" href="https://weibo.com/u/1791741344">
			<i class="iconfont icon-weibo"></i>
		</a>
		<a class="link-item" title="Github" href="https://github.com/lixuetaoleo">
			<i class="iconfont icon-github"></i>
		</a>
	</div>
	<footer>
		<p>© 2019-2077 Li Xuetao</p>
	</footer>
	<!-- <img src="" alt="My test image"> -->
	<%- js('js/script.js') %>
</body>

</html>