.post-container {
  width: 60%;
  margin: 0 auto;
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  // justify-content: center;
  // align-items: center;
  @media screen and (max-width: 767px) {
    width: 80%;
  }

  & > div {
    width: 100%;
  }

  a {
    color: black;
    @media (prefers-color-scheme: dark) {
      color: rgba(255, 255, 255, 0.603);
    }
    text-decoration: none;
    border-bottom: 1px solid #87b3f8;
  }
  @media (prefers-color-scheme: dark) {
    color: rgba(255, 255, 255, 0.603);
  }
}
