@font-face {
  font-family: 'AmaticSC-Regular';
  src: url('../assets/AmaticSC-Regular.ttf');
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  a {
    text-decoration: none;
    &:link {
      color: black;
      @media (prefers-color-scheme: dark) {
        color: rgba(255, 255, 255, 0.603);
      }
    }
    &:visited {
      color: black;
      @media (prefers-color-scheme: dark) {
        color: rgba(255, 255, 255, 0.603);
      }
    }
    &:hover {
      color: #87b3f8;
    }
    &:active {
      color: #87b3f8;
    }
  }

  .author {
    font-family: 'AmaticSC-Regular';
    font-size: 5rem;
  }

  .description {
  }

  .link-to-other-page {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 30%;
  }

  .socialmedia {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40%;
    margin-top: 10rem;
    & > span {
      margin: 0 1rem;
    }
    @media (prefers-color-scheme: dark) {
      filter: brightness(0.5);
    }
  }

  &::after {
    content: '';
    background-image: url(../assets/background-image.jpg);
    background-position: center center;
    background-size: cover;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;
    opacity: 0.7;
  }
  @media (prefers-color-scheme: dark) {
    color: rgba(255, 255, 255, 0.603);
  }
}
