<nav class="nav">
    <div class="jump">
        <a href="../archives/index.html" title="BLOG">BLOG</a>
        <a href="../contact/index.html" title="contact me">CONTACT</a>
    </div>
    <div class="homepage">
        <a href="../index.html" title="homepage">LI XUETAO</a>
    </div>
    <div class="socialmedia-nav">
        <a class="link-item link-item-nav" title="Twitter" href="https://twitter.com/lixuetaoleo">
            <i class="iconfont icon-twitter"></i>
        </a>
        <a class="link-item link-item-nav" title="Instagram" href="https://www.instagram.com/lixuetaoleo/">
            <i class="iconfont icon-instagram"></i>
        </a>
        <a class="link-item link-item-nav" title="Weibo" href="https://weibo.com/u/1791741344">
            <i class="iconfont icon-weibo"></i>
        </a>
        <a class="link-item link-item-nav" title="Github" href="https://github.com/lixuetaoleo">
            <i class="iconfont icon-github"></i>
        </a>
    </div>
</nav>